#navBar {
    background:
    linear-gradient(to right, rgb(32, 108, 131), rgba(255, 255, 255, 0)),
    rgb(30, 103, 187);
    width: 100%;
    box-shadow: 5px 2.5px 2.5px rgba(30, 75, 115, 1);
    box-shadow: 10px 5px 5px rgba(11, 31, 49, 0.76);
}

