#navBar {
    background:
    linear-gradient(to right, rgb(32, 108, 131), rgba(255, 255, 255, 0)),
    rgb(30, 103, 187);
    width: 100%;
    box-shadow: 5px 2.5px 2.5px rgba(30, 75, 115, 1);
    box-shadow: 10px 5px 5px rgba(11, 31, 49, 0.76);
}

.dropdownContent{
    background:none;
    border:none;
    font-size:1em;
    color:blue;
  }

.menuBtn {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

  }

#dropdownBtn {
   position: relative;
   left: 40%;
   background: rgb(118, 123, 167);
 }

 #social {
    position: relative;
    text-align: left;
    background: grey;
}

.social-links {
  position: relative;
  right:38%;
  height: 48px;
  width: 48px;
  margin-right: 1%;
}
@media screen and (min-width: 320px) and (max-width: 994px){
  #dropdownBtn {
    left: 14%
  }
  
  .social-links {
    right: 14%;
  }

  #main {
    border-bottom-left-radius:25px;
  }

  #name{
    text-align: center;
    width: 95%;
    font-size: 40px;
  }

  #contact {
    text-align: center;
    width: 95%;
    font-size: 30px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}

@media screen and (min-width: 400px) {
  #dropdownBtn {
    left: 20%
  }
  
  .social-links {
    right: 20%;
  }
}

@media screen and (min-width: 400px) {
  #dropdownBtn {
    left: 26%
  }
  
  .social-links {
    right: 26%;
  }
}

@media screen and (min-width: 650px) {
  #dropdownBtn {
    left: 31%
  }
  
  .social-links {
    right: 31%;
  }
}

@media screen and (min-width: 900px) {
  #dropdownBtn {
    left: 36%
  }
  
  .social-links {
    right: 36%;
  }
}
