.dropdownContent{
    background:none;
    border:none;
    font-size:1em;
    color:blue;
  }

  .menuBtn {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;

  }

  #dropdownBtn {
   position: relative;
   left: 45%;
 }